# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
.settings

# Sublime
*.sublime*

# vscode
.vscode/*

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/browse.vc.db-shm
.vscode/browse.vc.db
.vscode/browse.vc.db-wal

build/*
